<div>

    <mat-form-field   mat-form-field class="salario">
        <mat-label>Trabajador</mat-label>
        <input matInput value="" [(ngModel)]="formUtilidad.nombre">
    </mat-form-field>

    <mat-form-field   mat-form-field class="salario">
        <mat-label>Salario Mensual</mat-label>
        <input matInput value="" [(ngModel)]="formUtilidad.salario">
    </mat-form-field>
    <mat-form-field class="años">
        <mat-label>Años de labor</mat-label>
        <input matInput  value="" [(ngModel)]="formUtilidad.anios">
    </mat-form-field>

      <button mat-button (click)="calcularUtilidad">Calcular Utilidad</button>
       @if (mostrarResultado) {
        <div class="alert" role="alert">
            {{resultadoFinal}}
        </div>
       }
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Trabajador</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Utilidad </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Años de trabajo </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    @for (item of trabajadoresLista; track $index) {
        <th>{{item.id}}</th>
        <th>{{item.nombre}}</th>
        <th>{{item.salario}}</th>
        <th>{{item.anios}}</th>
    }
  </table>
  
  
  
  
  
